*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.content h1{
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.content p{
    font-size: 18px;
    margin-bottom: 25px;
    color: white;
}
button{
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}
.main{
    background: #a56dff;
    color: #fff;
}
.secondary{
    background: #e0e0e0;
}
.total img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.content{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
@media (max-width: 900px){
    .hero{
        text-align: center;
    }
    .content{
        top: 50%;
    }
}